# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Build outputs
dist/
build/
*.log

# Editor & OS files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
